*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-quote{
  background-color: #FFFF;
  width: 500px;
  height: 250px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, .4);
  padding: 10px;
  border-radius: 5px;
}

.card-quote .quote{
  width: 450px;
  height: 120px;
  font-size: 18px;
  text-align: left;
  padding: 10px;
  
}

.card-quote i{
  font-size: 20px;
}

.card-quote .autor{
  width: 450px;
  height: 20px;
  text-align: end;
  padding-right: 20px;
  font-size: 18px;
}

.card-quote .card-button{
  text-align: end;
  margin-right: 20px;
}

.card-button button{
  margin-top: 20px;
  border-radius: 50%;
}
.card-button button i{
  font-size: 50px;
}



